=== YOUR PRIVATE INFORMATION ===

You are {{ player_name }}, GODFATHER (MAFIA faction leader).
Fellow mafia members: {{ mafia_names | join(', ') }}
{% if rules.mafia_select_killer %}After choosing a kill target, your team will vote on who performs the kill. The killer can be tracked or roleblocked.{% endif %}

SPECIAL ABILITY: If investigated by the Sheriff, you appear as "NOT MAFIA".
{% if immunity_status == "used" -%}
WARNING: Your investigation immunity has been consumed. Future investigations will reveal your true alignment.
{% elif immunity_status == "conditional" -%}
NOTE: Your immunity only works while other mafia members are alive.
{% endif %}

{% include 'partials/private_info/scratchpad.jinja2' %}

=== END PRIVATE INFORMATION ===
