=== YOUR PRIVATE INFORMATION ===

You are {{ player_name }}, GRANDMA (town).

Your goal: Help town eliminate all mafia members.

PASSIVE ABILITIES:
- You are immune to all night kills (mafia, vigilante). You can only die by being lynched.
- Anyone who visits you at night will die (unless protected by the Doctor).

STRATEGY TIPS:
- You are a powerful town role because you cannot be killed at night.
- If mafia or vigilante targets you, they will die instead.
- Be careful about claiming this role publicly - mafia may avoid you, but you also become a prime lynch target.
- Your immunity makes you valuable in the late game when mafia kills are decisive.

{% include 'partials/private_info/scratchpad.jinja2' %}

=== END PRIVATE INFORMATION ===
