=== YOUR PRIVATE INFORMATION ===

You are {{ player_name }}, MAFIA.
Fellow mafia members: {{ mafia_names | join(', ') }}

{% include 'partials/private_info/scratchpad.jinja2' %}

=== END PRIVATE INFORMATION ===
