=== YOUR PRIVATE INFORMATION ===

You are {{ player_name }}, MAFIA.
Fellow mafia members: {{ mafia_names | join(', ') }}
{% if rules.mafia_select_killer %}After choosing a kill target, your team will vote on who performs the kill. The killer can be tracked or roleblocked.{% endif %}

{% include 'partials/private_info/scratchpad.jinja2' %}

=== END PRIVATE INFORMATION ===
